@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --maincolor: #ffa3c4;
    --fonttitle: "Story Script", sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 248, 254);
}

header {    
    display: flex;
    padding: 15px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.411);
    justify-content: space-between;
}

header > div.img-title {
    display: flex;
}

header > div.img-title > img {
    width: 60px;
    border-radius: 50%;

}

header > div.img-title > h1 {
    font-family: var(--fonttitle);
    font-weight: 800;
    font-size: 35px;
    color: var(--maincolor);
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.658);
    margin-left: 20px;
    align-self: center;
    letter-spacing: 1px;
}

header > nav {
    align-self: center;
}

header > nav > a {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: var(--maincolor);
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.425);
    letter-spacing: 0.5px;
    font-weight: 700;
    margin: 0 10px;
    transition: all 0.3s;
    display: inline-block;
}

header > nav > a:hover {
    color: rgb(233, 129, 216);
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.815);
    transform: scale(1.03);
}

main  {
    display: flex;
    justify-content: space-evenly;
    align-items: center;    
    height: calc(100vh - 80px);
    padding: 20px;
}

main > section.img-main > img {
    width: 90%;
    min-width: 350px;
    max-width: 620px;
    border-radius: 20px;
}

main > section.content-main {
    max-width: 555px;
    text-align: center;
   
}

main > section.content-main > h1 {
    font-family: var(--fonttitle);
    font-size: 66px;
    color: var(--maincolor);
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.658);
    margin-bottom: 20px;
}

main > section.content-main > p {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    color: #333;
    margin-bottom: 30px;
    line-height: 1.2;
}

main > section.content-main > a > button {
    font-family: 'Poppins', sans-serif;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.336);
    font-size: 20px;
    margin: 0 5px;
    padding: 12px 25px;
    border: none;
    border-radius: 30px;
    background-color: var(--maincolor);
    color: white;
    cursor: pointer;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.158);
    transition: all 0.3s;
}

main > section.content-main > a > button:hover {
    background-color: rgb(233, 129, 216);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.411);
    transform: scale(1.05);
}

/* Cardápio */

main.main-cardapio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;    
    height: calc(100vh - 80px);
    padding: 20px;
}

.title-cardapio {
    text-align: center;
    margin: 80px;
}

.title-cardapio > h1 {
    font-family: var(--fonttitle);
    font-size: 60px;
    color: var(--maincolor);
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.658);
}

.title-cardapio > p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #333;
}

.cardapio {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
}

div.doces {
    background-color: var(--maincolor);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    width: 230px;
    height: 300px;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;   
    transition: all 0.3s;
    justify-content: space-around;
    padding-bottom: 20px;
}

div.doces:hover {
    transform: scale(1.03);
}

div.doces > p {
    padding-top: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: white;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.336);
    font-weight: 600;
}

div.doces > img {
    width: 160px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.pedir {
    font-family: 'Poppins', sans-serif;
    width: 150px;
    height: 50px;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.336);
    font-size: 15px;
    border: none;
    border-radius: 10px;
    background-color: white;
    color: var(--maincolor);
    cursor: pointer;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.158);
    transition: all 0.3s;
    margin-top: 13px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.pedir:hover {
    transform: scale(1.03);
}


